*#
*~
\#*\#
/zsh/.zsh_history

bin/.local/bin/OSSolverService
bin/.local/bin/__pycache__/
bin/.local/bin/checkCopyright
bin/.local/bin/computeconf
bin/.local/bin/dispatch_srvr
bin/.local/bin/easy_install
bin/.local/bin/easy_install-2.7
bin/.local/bin/easy_install-3.6
bin/.local/bin/evaluate_xhat
bin/.local/bin/f2py
bin/.local/bin/f2py2
bin/.local/bin/f2py2.7
bin/.local/bin/f2py3
bin/.local/bin/f2py3.6
bin/.local/bin/helpdev
bin/.local/bin/kill_pyro_mip_servers
bin/.local/bin/launch_pyro_mip_servers
bin/.local/bin/lbin
bin/.local/bin/lpython
bin/.local/bin/nosetests
bin/.local/bin/nosetests-2.7
bin/.local/bin/nosetests-3.4
bin/.local/bin/phsolverserver
bin/.local/bin/pwiz.py
bin/.local/bin/pylupdate5
bin/.local/bin/pyomo
bin/.local/bin/pyomo_ns
bin/.local/bin/pyomo_nsc
bin/.local/bin/pyomo_old
bin/.local/bin/pyomo_python
bin/.local/bin/pypi_downloads
bin/.local/bin/pyrcc5
bin/.local/bin/pyro_mip_server
bin/.local/bin/pyuic5
bin/.local/bin/pyutilib_test_driver
bin/.local/bin/qdarkstyle
bin/.local/bin/readsol
bin/.local/bin/replaceCopyright
bin/.local/bin/results_schema
bin/.local/bin/runbenders
bin/.local/bin/runef
bin/.local/bin/runph
bin/.local/bin/scenariotreeserver
bin/.local/bin/test.pyomo
bin/.local/bin/test.pyutilib
bin/.local/bin/vorta
*.pyc
/Ranger/.config/ranger/plugins/devicons.py
