xinput -disable "Atmel"
# On i3 use qt5ct to set Qt5 theme
[ "$XDG_CURRENT_DESKTOP" = "KDE" ] || [ "$XDG_CURRENT_DESKTOP" = "GNOME" ] || export QT_QPA_PLATFORMTHEME="qt5ct"
export TERMINAL=termite
# export EDITOR=emacsclient
export EDITOR="emacsclient -a -c"                  # $EDITOR opens in terminal
export VISUAL="emacsclient -a -c"         # $VISUAL opens in GUI mode
#export EDITOR=vim
#export PATH="${PATH}:/opt/scilab/bin"
export PATH="${PATH}:/opt/OpenDrive"

test "$XDG_BIN_HOME"    || export XDG_BIN_HOME="$HOME/.local/bin"
test "$XDG_CACHE_HOME"  || export XDG_CACHE_HOME="$HOME/.cache"
test "$XDG_CONFIG_HOME" || export XDG_CONFIG_HOME="$HOME/.config"
test "$XDG_DATA_HOME"   || export XDG_DATA_HOME="$HOME/.local/share"
test "$XDG_LIB_HOME"    || export XDG_LIB_HOME="$HOME/.local/lib"
